{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}

<link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
<header>
    <div class="ui menu scalable inverted black">

        <div class="header item"><a href="/admin/">Django Admin</a></div>
        <div class="menu right">
            <a class="item" href="/">View site</a>
            <a class="item" href="/admin/password_change/">Change password</a>
            <a class="item" href="#">{{user}}</a>
            <a class="item" href="/admin/logout/">Log out</a>
        </div>
    </div>

</header>
<style>
:root {
  --primary: #9774d5;
  --secondary: #785cab;
  --link-fg: #7c449b;
  --link-selected-fg: #8f5bb2;
}
#header{
display: none;


</style>

{% endblock %}