{% extends 'meetups/base.html' %}

{% load static %}
{% block title %}All meetups home{% endblock %}
{% block site_css %} <link href="{% static 'css/home.css' %}" rel="stylesheet"> {% endblock %}


<!--<h1>All Meetups</h1>-->
<!--{% if show_meetups %}-->
<!--{% for meetup_item in meetups %}-->
<!--<h2>{{ meetup_item.title }}</h2>-->
<!--{% endfor %}-->
<!--{% else %}-->
<!--<p>No meetups</p>-->
<!--{% endif %}-->


{% block main_heading %} Welcome {% endblock %}
{% block header_content %}<p class="ui header tiny centered" >Join our meet up</p>{% endblock %}


{% block body %}
<div class="meet-ups">
    <h2 class="ui centered header">Upcoming Meetups</h2>
    {% for meetup_item in meetups %}
        {% include 'meetups/includes/meetup-item.html' with title=meetup_item.title location='meetup_item.location' slug=meetup_item.slug image=meetup_item.image.url %}
    {% endfor %}
</div>
{% endblock %}

