{% extends 'meetups/base.html' %}
{% block title %}{{meetup_title}}{% endblock %}
{% block main_heading %} Meet Up Details {% endblock %}
{% block header_content %}<p class="ui header tiny centered" > {{meetup_title}} </p>{% endblock %}




{% block body %}
{% if meetup_found %}

img
<br>
meet up location:
<br>
address:
<br>


<div class="details">
    <h2>What's this meet up about?</h2>
    <p>Title - {{meetup_title}}</p>
    <p>Desc - {{meetup_description}}</p>
</div>

<footer>
    need more detail? please contact organizer (don't spam us :) )
</footer>
<div class="registration">
    <h2>Jin us</h2>
    FORM
</div>

{% else %}
<div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
    We're sorry we can't found any meetup
  </div>
  <p>Use a valid slug
</p></div>
{% endif %}


{% endblock %}
