{% extends 'meetups/base.html' %}
{% block title %}{{meetup_title}}{% endblock %}
{% block main_heading %} Meet Up Details {% endblock %}
{% block header_content %}<p class="ui header tiny centered" > {{meetup_title}} </p>{% endblock %}




{% block body %}
img
meet up location:
address:


<div class="dtails">
    <h2>What's this meet up about?</h2>
    <p>{{meetup_description}}</p>
</div>

<footer>
    need more detail? please contact organizer (don't spam us :) )
</footer>
<div class="regestration">
    <h2>Jin us</h2>
    FORM
</div>

{% endblock %}
