{% extends 'base.html'%}
{% block content %}
<h1>About Page</h1>
<h3>{{ title|capfirst|upper }}</h3>
<p>This is a template</p>
{{my_html|safe}}
{{my_html|striptags|slugify}}
<p>
    {{ my_numbers}}, {{ my_list}}
</p>

<h4>for loop</h4>
{% for abc in my_list%}
    {% if abc == 312 %}
        (<li>{{forloop.counter}}) - {{abc|add:22}}</li> ###
    {% elif abc == "Abc" %}
        (<li>This is not the network</li> ###
    {% else %}
        (<li>{{forloop.counter}}) - {{abc}}</li> ###
    {% endif %}
{% endfor %}


{% endblock %}