*{
    padding: 0;
    margin: 0;
}
#wrapper{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.meetup-heading{
margin: 5rem 0;
}
.card{
width: 500px !important;
}
.white{
    color: white !important;
}